<div class="user-shares-container">
 {{#if model.can_send}}
   <UserSharesSend 
     @user={{model.user}} 
     @onSend={{action "sendShares"}} 
     @loading={{loading}}
     @amount={{sendAmount}}
   />
 {{else}}
   <UserSharesBalance 
     @balance={{model.balance}} 
     @transactions={{model.transactions}}
   />
 {{/if}}
</div>