<div class="shares-send-form">
 <div class="send-header">
   <h3>{{i18n "shares.send_shares_to" username=@user.username}}</h3>
 </div>
 
 <div class="send-form">
   <div class="form-group">
     <label for="share-amount">{{i18n "shares.amount"}}</label>
     <input 
       type="number" 
       id="share-amount" 
       min="1" 
       step="1" 
       value={{@amount}}
       {{on "input" this.updateAmount}}
       placeholder="Enter amount"
       class="form-control"
     />
   </div>
   
   <div class="form-actions">
     <button 
       class="btn btn-primary" 
       {{on "click" this.sendShares}}
       disabled={{or (not this.amount) (lt this.amount 1) @loading}}
     >
       {{#if @loading}}
         {{loading-spinner size="small"}}
       {{else}}
         {{i18n "shares.send"}}
       {{/if}}
     </button>
   </div>
 </div>
</div>