<div class="user-shares">
  {{user-shares-balance balance=this.balance}}

  {{#if this.canSend}}
    {{user-shares-send
      user=this.user
      balance=this.balance
      onSent=this.refreshModel
    }}
  {{/if}}

  {{#if this.transactions}}
    <h3>Transactions</h3>
    <ul>
      {{#each this.transactions as |tx|}}
        <li>{{tx.created_at}} — {{tx.amount}} — {{tx.counterparty_username}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
