<h2>{{this.model.user.username}}'s Shares</h2>

<UserSharesBalance @balance={{this.model.balance}} />

<h3>Transactions</h3>
<ul>
  {{#each this.model.transactions as |t|}}
    <li>{{t.amount}} → {{t.to_username}} ({{t.created_at}})</li>
  {{/each}}
</ul>

<UserSharesSend @user={{this.model.user}} @balance={{this.model.balance}} />
