{{!-- Desktop: icoon + label --}}
<DButton
  @icon="balance-scale"
  @translatedLabel="Aandelen"
  @action={{this.openModal}}
  class="btn-primary desktop-only"
/>

{{!-- Mobiel: alleen icoon --}}
<DButton
  @icon="balance-scale"
  @title="Aandelen"
  @action={{this.openModal}}
  class="btn-icon mobile-only"
/>

{{#if this.modalIsVisible}}
  <DModal @title="Aandelen versturen" @closeModal={{this.closeModal}}>
    <:body>
      <p>
        {{log this.recipient}}
        Je verstuurt aandelen naar <b>{{this.recipient.username}}</b>
      </p>

      <label for="amount">Aantal aandelen:</label>
      <Input
        @type="number"
        @value={{this.amount}}
        min="1"
        id="amount"
      />
    </:body>

    <:footer>
      <DButton
        @translatedLabel="Verstuur"
        @action={{this.sendShares}}
        class="btn-primary"
      />
      <DButton
        @translatedLabel="Annuleer"
        @action={{this.closeModal}}
      />
    </:footer>
  </DModal>
{{/if}}
