<DModal @title={{i18n "aandelen_discourse.title"}} @closeModal={{@closeModal}}>
  <:body>
    <p>{{i18n "aandelen_discourse.balance"}}: <b>{{this.balance}}</b></p>

    {{#if (not this.isSelf)}}
      <p>{{i18n "aandelen_discourse.to"}} <strong>{{@model.user.username}}</strong></p>

      <label for="aandelen-amount">{{i18n "aandelen_discourse.shares"}}</label>
      <input
        id="aandelen-amount"
        type="number"
        min="1"
        max={{this.balance}}
        value={{this.amount}}
        {{on "input" this.updateAmount}}
      />
    {{/if}}

    {{#if this.isSelf}}
      <hr>
      <h4>{{i18n "aandelen_discourse.recent_transactions"}}</h4>
      <ul>
        {{#each this.transactions as |tx|}}
          <li>
            {{tx.date}} -
            {{#if (eq tx.type "sent")}}
              {{i18n "aandelen_discourse.to"}} <b>{{tx.user}}</b>
            {{else}}
              {{i18n "aandelen_discourse.from"}} <b>{{tx.user}}</b>
            {{/if}}
            : <b>{{tx.amount}}</b> {{i18n "aandelen_discourse.shares"}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </:body>

  <:footer>
    {{#if (not this.isSelf)}}
      <DButton @translatedLabel={{i18n "aandelen_discourse.send"}} class="btn-primary" @action={{this.send}}/>
    {{/if}}
    <DButton @translatedLabel={{i18n "aandelen_discourse.cancel"}} @action={{this.cancel}}/>
  </:footer>

</DModal>
