<DModal @title={{this.modalTitle}} @closeModal={{@closeModal}}>
  <:body>
    

    <!-- Tab inhoud -->
    {{#if (eq this.activeTab "send")}}
      <label for="aandelen-receiver">{{i18n "aandelen_discourse.to"}}</label>
      <select id="aandelen-receiver" {{on "change" this.updateSelectedUser}}>
        <option value="" selected={{eq this.selectedUser ""}}>
          {{i18n "aandelen_discourse.select_gentleman"}}
        </option>
        {{#each this.users as |user|}}
          <option value={{user.username}} selected={{eq user.username this.selectedUser}}>
            {{user.username}}
          </option>
        {{/each}}
      </select>

      <label for="aandelen-amount">{{i18n "aandelen_discourse.shares"}}</label>
      <input
        id="aandelen-amount"
        type="number"
        min="1"
        max={{this.balance}}
        value={{this.amount}}
        {{on "input" this.updateAmount}}
      />

      <label for="aandelen-description">{{i18n "aandelen_discourse.description"}}</label>
      <textarea
        id="aandelen-description"
        placeholder={{i18n "aandelen_discourse.description_placeholder"}}
        value={{this.description}}
        {{on "input" this.updateDescription}}
      ></textarea>
    {{/if}}



    {{#if (eq this.activeTab "transactions")}}
      <h4>{{i18n "aandelen_discourse.recent_transactions"}}</h4>
      <ul>
        {{#each this.transactions as |tx|}}
          <li>
            {{tx.date}} -
            {{#if (eq tx.type "sent")}}
              {{i18n "aandelen_discourse.to"}} <b>{{tx.user}}</b>
            {{else}}
              {{i18n "aandelen_discourse.from"}} <b>{{tx.user}}</b>
            {{/if}}
            : <b>{{tx.amount}}</b> {{i18n "aandelen_discourse.shares"}}
            {{#if tx.description}}
              <br><em>{{tx.description}}</em>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </:body>

   <:footer>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <DButton
            @translatedLabel={{i18n "aandelen_discourse.send"}}
            class="btn-primary"
            @action={{this.send}}
            disabled={{not this.canSend}}
          />
          <DButton @translatedLabel={{i18n "aandelen_discourse.cancel"}} @action={{this.cancel}}/>
        </div>

        <div>
          
          <DButton @translatedLabel={{if (eq this.activeTab "send") (i18n "aandelen_discourse.show_transactions") (i18n "aandelen_discourse.show_send")}} @action={{this.toggleTab}} class="btn-secondary"/>
          {{#if (eq this.activeTab "transactions")}}
            <DButton @translatedLabel={{i18n "aandelen_discourse.open_invites"}} @action={{this.openInvitesModal}} class="btn-secondary"/>
          {{/if}}
        </div>
      </div>
    </:footer>
</DModal>
