<DModal @title={{i18n "aandelen_discourse.invites_title"}} @closeModal={{@closeModal}}>
  <:body>
    <p>{{this.statusThisYear}}</p>
    <p>{{this.statusTotal}}</p>

    {{#if this.usedInvitesCount}}
      <p>{{i18n "aandelen_discourse.your_invites"}}</p>
      <ul>
        {{#each this.invites as |invite|}}
          <li>
            {{#if invite.username}}
              {{invite.username}}
            {{else}}
              {{invite.email}} (nog niet geaccepteerd)
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </:body>

  <:footer>
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <div> 
        <DButton @translatedLabel={{i18n "aandelen_discourse.cancel"}} @action={{this.cancel}}/>
      </div>
      <div>
        <DButton @translatedLabel={{i18n "aandelen_discourse.back_to_aandelen"}} @action={{this.backToAandelen}} class="btn-secondary"/>
      </div>
    </div>
  </:footer>
</DModal>
